[defaults]
deprecation_warnings         = False
gathering                    = explicit
retry_files_enabled          = False
inventory                    = hosts
connection                   = smart
timeout                      = 60
forks                        = 50
host_key_checking            = False
 
[ssh_connection]
ssh_args                     = -o ControlMaster=auto -o ControlPersist=30m
ansible_ssh_common_args      = ' -oKexAlgorithms=+diffie-hellman-group1-sha1 -caes128-cbc'
scp_if_ssh                   = True

[paramiko_connection]
host_key_auto_add            = True

[persistent_connection]
connect_timeout              = 60
command_timeout              = 60
